<div class="card w-100">
    <div class="d-flex flex-wrap">
        <chart [chartModel]="temporaryChart">

        </chart>
        <chart [chartModel]="temporaryChart">

        </chart>
        <chart [chartModel]="temporaryChart">

        </chart>
        <chart [chartModel]="temporaryChart">

        </chart>
        <chart [chartModel]="temporaryChart">

        </chart>
        <chart [chartModel]="temporaryChart">

        </chart>
        <chart [chartModel]="temporaryChart">

        </chart>
        <chart [chartModel]="temporaryChart">

        </chart>
    </div>
</div>